// SPDX-License-Identifier: GPL-2.0-only

#include "qcom-msm8226.dtsi"

/ {
	model = "Sony Xperia E3 (D2202)";
	compatible = "qcom,sony-xperia-e3-d2202", "qcom,sony-xperia-e3", "qcom,msm8226";
	chassis-type = "handset";
	qcom,msm-id = <0x91 0x20000
		       0x9e 0x20000
		       0x9f 0x20000
		       0xc6 0x20000
		       0xcd 0x20000
		       0xdc 0x20000
		       0xdd 0x20000
		       0xde 0x20000
		       0xdf 0x20000>;
	qcom,board-id = <0x08 0x00>;
};

&blsp1_uart3 {
	status = "okay";
};
